# Ignore virtual environment
/venv

# Ignore vscode setup
/.vscode

# Ignore config file containing sensitive information
config.cfg
keys

# Ignore __pycache__ files
*__pycache__
.pytest_cache